@media (max-width: 1490px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }

  .container {
    max-width: 1200px;
  }

  .header {
    &__top {
      padding: 30px 25px;
    }

    &__view-menu {
      font-size: 18px;
    }

    &__title {
      font-size: 85px;
      line-height: 75px;
    }
  }

  .call-btn,
  .reservation-btn {
    font-size: 18px;
  }

  .restaurant {
    &__description {
      flex-direction: column;
      align-items: center;
    }

    &__description-inner {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    &__description-content::after {
      left: 360px;
      bottom: -80px;
    }

    &__description-img {
      margin-bottom: 30px;
    }

    &__info-items {
      margin-bottom: 70px;
    }
  }

  .offers__box::before {
    right: 8px;
  }

  .popular {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 60px;
    }

    &__item {
      width: auto;
      border: 1px solid #c4c4c4;
      padding: 15px;
    }

    &__item-img {
      margin: 0 auto 30px;
    }
  }

  .special-dishes__btn {
    margin-top: 60px;
  }

  .blog {
    &__inner {
      flex-wrap: wrap;
    }

    &__item {
      max-width: 100%;
      text-align: center;
      padding: 30px 15px;
    }

    &__item:first-child {
      margin-bottom: 50px;
    }

    &__item-img {
      margin: 0 auto;
    }
  }

  .reservation {
    &__box {
      padding: 50px;
    }
    &__input{
      max-width: 100%;
    }
  }

  .menu__list-item:hover::before {
    left: 10.3%;
  }
}

@media (max-width: 1250px) {
  .header {
    &__top {
      justify-content: space-around;
    }

    &__content::before {
      display: none;
    }

    &__img {
      max-width: 500px;
    }
  }

  .restaurant {
    &__info-items {
      margin-bottom: 100px;
    }

    &__info-item {
      padding-left: 75px;
      font-size: 25px;
      line-height: 29px;
    }

    &__info-item::before {
      width: 67px;
      height: 67px;
      top: 0;
    }

    &__info-location,
    &__info-working,
    &__info-contact {
      font-size: 17px;
      line-height: 20px;
    }
  }

  .menu {
    padding: 80px 0 120px;

    &__inner {
      flex-wrap: wrap;
    }

    &__list {
      margin: 0 auto;
    }

    &__list-item {
      justify-content: space-evenly;
    }

    &__list-title {
      margin-top: 40px;
      padding-left: 0;
    }
  }

  .special-dishes {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;

    &__img {
      margin: 25px auto;
    }

    &__btn {
      margin-top: 0;
    }
  }

  .slider {
    padding: 0 30px;

    .slick-dots {
      right: 47%;
    }
  }

  .title,
  .testimonial__text {
    text-align: center;
  }

  .offers {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__box:first-child {
      margin-bottom: 30px;
      margin-right: 0;

      &::before {
        top: 25px;
      }
    }

    &__box-title {
      text-align: left;
    }
  }

  .popular {
    &__inner {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }

  .service {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    &__description {
      margin-bottom: 50px;
      max-width: 100%;
    }
  }

  .menu,
  .testimonial {
    text-align: center;
  }

  .reservation {
    &__title {
      margin: 10px 0 20px;
    }
  }

  .footer {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__mailing-list {
      order: -1;
      margin-bottom: 50px;
    }

    &__contact {
      margin-bottom: 50px;
    }

    &__working-hours {
      margin-left: -35px;
    }

    .social-links {
      margin-left: -12px;
    }
  }

  .menu__list-item:hover::before {
    left: 13.3%;
  }
}

@media (max-width: 1120px) {
  .response {
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 1020px) {
  .header {
    &__top {
      flex-direction: column;
    }

    &__content {
      padding-top: 20px;
    }

    &__title {
      font-size: 70px;
      line-height: 65px;
    }

    &__img {
      max-width: 410px;
    }
  }

  .logo {
    order: -1;
    margin-bottom: 30px;
    width: 300px;
  }

  .call-btn {
    margin-bottom: 30px;
  }

  .navigation {
    .list {
      &__item {
        margin: 0 15px;
      }
    }
  }

  .restaurant {
    padding: 65px 0 95px;

    &__info-items {
      flex-wrap: wrap;
      margin: 0;
    }

    &__info-item {
      margin: 0 0 50px 70px;
    }

    &__description-img {
      max-width: 640px;
    }
  }

  .service {
    &__advantages-item {
      width: 230px;
      height: 230px;
    }

    &__advantages-text {
      font-size: 22px;
      line-height: 26px;
    }
  }

  .reservation {
    padding: 60px 120px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 850px) {
  .header {
    padding-bottom: 30px;

    &__content {
      flex-direction: column-reverse;
    }

    &__content-inner {
      max-width: 100%;
      padding: 0 15px;
      text-align: center;
    }

    &__img {
      max-width: 480px;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &__view-menu {
      margin: 0 auto;
    }
  }

  .navigation {
    padding: 0;
    justify-content: center;
    overflow: hidden;

    .list {
      flex-direction: column;
      background-color: $title;
      width: 100%;
      text-align: center;
      padding: 50px 0;
      position: absolute;
      transform: translateY(-300%);
      transition: all .5s;

      &__item {
        margin: 15px;
      }
    }

    .social-links {
      display: none;
    }
  }

  .list.active {
    transform: translateY(-100%);
  }

  .burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 35px;

    span {
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $accent;
      display: block;
    }

    span:first-child {
      top: 3px;
    }

    span:last-child {
      bottom: 3px;
    }
  }

  .burger-btn.dagger {
    span:nth-child(1) {
      transform: rotate(45deg);
      top: 20px;
    }

    span:nth-child(2) {
      display: none;
    }

    span:nth-child(3) {
      transform: rotate(135deg);
      top: 20px;
    }
  }

  .restaurant {
    &__description-img {
      max-width: 560px;
    }

    &__info-items {
      flex-direction: column;
    }

    &__info-item {
      padding-left: 100px;
    }
  }

  .menu {
    &__list-item {
      &:hover {
        background-color: transparent;
        &::before {
          opacity: 0;
          cursor: auto;
        }
      }
    }
  }

  .slider .slick-dots {
    right: 45%;
  }

  .offers {
    &__subtitle {
      margin: 0;
    }

    &__box-title {
      margin-top: 80px;
      text-align: center;
    }

    &__text {
      text-align: center;
    }
  }

  .special-dishes {
    &__btn {
      margin-top: 60px;
    }
  }

  .service {
    &__advantages {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__advantages-item:last-child {
      margin-top: 30px;
    }
  }
}

@media (max-width: 700px) {

  // .menu{
  //   &__list-inner{
  //     padding-left: 25px;
  //   }
  // }
  .slider .slick-dots {
    right: 43%;
  }

  .offers {
    text-align: left;

    &__box::before {
      right: 25px;
    }
  }

  .reservation {
    padding: 60px 85px;
  }

  .footer {
    &__input {
      width: 100%;
      margin-bottom: 70px;
    }

    &__mailing-list {
      position: relative;
    }

    &__button {
      position: absolute;
      left: 50%;
      bottom: -50px;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__top {
      padding: 30px 0;
    }

    &__img {
      max-width: 320px;
    }

    &__title {
      font-size: 50px;
      line-height: 55px;
    }
  }

  .logo,
  .footer__logo {
    width: 270px;
  }

  .navigation {
    .list {
      padding: 30px 0;
    }
  }

  .burger-btn {
    top: 20px;
    right: 20px;
  }

  .restaurant {
    &__info-item {
      margin-left: 50px;
    }

    &__description-img {
      max-width: 450px;
    }

    &__description-content::after {
      left: 200px;
    }

    &__description-inner {
      align-items: start;
    }
  }

  .menu {
    padding: 40px 0 60px;

    &__list {
      text-align: center;
      margin-top: 40px;
      padding-bottom: 50px;
    }

    &__list-item:not(:last-child) {
      margin-bottom: 25px;
    }

    &__list-heading,
    &__list-price {
      font-size: 20px;
      line-height: 28px;
    }

    &__list-title {
      font-size: 30px;
      line-height: 40px;
    }

    &__list-inner {
      min-width: auto;
      padding: 0 10px;
    }
  }

  .response {
    &__name {
      font-size: 25px;
      line-height: 27px;
      cursor: none;
    }

    &__avatar {
      width: 80px;
    }
  }

  .slider .slick-dots {
    right: 41%;
  }

  .offers {
    &__box {
      max-width: 450px;
      text-align: center;
    }

    &__box-title {
      margin-top: 280px;
    }

    &__box:first-child::before {
      right: 0;
      top: 230px;
      left: 16%;
    }

    &__box:last-child::before {
      right: 0;
      top: 200px;
      left: 16%;
    }

    &__sale {
      margin: 0 auto 10px;
    }
  }

  .service {
    &__description {
      margin-bottom: 0;
    }

    &__advantages {
      flex-direction: column;
    }

    &__advantages-item:not(:last-child) {
      margin-right: 0;
      margin-top: 30px;
    }
  }


  .blog {
    &__item-btn {
      top: 25%;
    }

    &__item-content {
      padding: 30px 10px 10px;
    }
  }

  .reservation {
    &__input::placeholder {
      font-size: 18px;
      line-height: 22px;
    }
    &__btn {
      padding: 20px 25px;
      font-size: 18px;
      line-height: 18px;
      margin-top: 15px;
    }
  }
}

@media (max-width: 470px) {
  .restaurant {
    padding: 35px 0;

    &__info-item {
      margin: 0 0 20px 30px;
      padding-left: 0;
    }

    &__info-item::before {
      display: none;
    }

    &__description-img {
      max-width: 360px;
    }

    &__description-owner,
    &__description-content::after {
      display: none;
    }

    &__info-location,
    &__info-working,
    &__info-contact {
      font-size: 15px;
    }
  }

  .title {
    font-size: 30px;
    line-height: 32px;
  }

  .special-dishes {
    &__img {
      max-width: 270px;
    }
  }

  .menu {
    &__list-title {
      margin-bottom: 20px;
      padding: 0;
    }

    &__list-box:not(:last-child) {
      margin-bottom: 40px;
    }

    &__list-item {
      display: block;
    }

    &__list-item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__list-img {
      margin: 0 auto 10px;
    }

    &__list-heading {
      margin-bottom: 10px;
      font-size: 30px;
    }

    &__list-price {
      margin-top: 20px;
      font-size: 30px;
    }
  }

  .response {
    padding: 10px 20px;

    &__top {
      flex-direction: column;
      align-items: start;
      margin-bottom: 15px;
    }

    &__user {
      margin-left: 0;
      margin-top: 15px;
    }
  }

  .subtitle {
    font-size: 12px;
    line-height: 17px;
  }

  .testimonial {
    padding: 40px 0 100px;
  }

  .slider .slick-dots {
    right: 38%;
  }

  .offers {
    padding: 60px 0 80px;

    &__box::before {
      display: none;
    }

    &__box-title {
      margin-top: 0;
    }
  }

  .popular {
    padding: 0 0 80px;
    margin: 0;
  }

  .service {
    padding: 70px 0;
  }

  .blog {
    padding: 70px 0;

    &__item {
      padding: 15px;
    }

    &__item-btn {
      top: 17%;
      padding: 20px 30px;
      font-size: 15px;
    }
  }

  .reservation {
    padding: 60px 25px;

    &__title {
      margin: 10px 0;
    }

    &__box {
      padding: 30px;
    }
  }
}

@media (max-width: 400px) {
  .header {
    &__img {
      max-width: 280px;
    }
  }

  .restaurant {
    &__description-img {
      max-width: 280px;
    }

    &__description-inner {
      margin: 0;
    }
  }

  .slider .slick-dots {
    right: 35%;
    bottom: -55px;
  }

  .subtitle {
    margin-left: 10px;
  }

  .popular {
    &__inner {
      gap: 30px;
    }

    &__item {
      padding: 5px;
    }

    &__item-img {
      max-width: 260px;
      margin: auto;
    }

    &__box {
      display: block;
    }
  }

  .special-dishes {
    &__btn {
      margin-top: 40px;
    }
  }

  .blog {
    &__item-btn {
      top: 15%;
    }

    &__item-heading {
      font-size: 26px;
      line-height: 30px;
      margin: 15px 0;
    }
  }
}